.App {
  text-align: center;
}

.App-logo {
  height: 2em;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding: 1em 0;
}

.App-link {
  color: #61dafb;
}
